version: "3.9"

services:
  db:
    image: postgres:15
    container_name: balkanid_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: filevault
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: balkanid_backend
    depends_on:
      - db
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - ./backend/uploads:/app/uploads
    command: ["go", "run", "main.go"]

volumes:
  db_data: